@CHARSET "UTF-8";

body {
	
}

.x-body {
	color: #34495e;
	background: #34495e;
}

.leftpanel .x-box-inner {
	background: #EFEFEF;
}

.fieldpanel .x-box-inner {
	background: #EFEFEF;
}

.searchbox .x-box-inner {
	background: #DDDDDD;
}

.fdtoolbar .x-box-inner {
	background: #FFFFFF !important;
}

.fdtoolbar div {
	background: #FFFFFF !important;
}

.fdtoolbar .x-box-menu-after {
	background: #EEEEEE;
}

.fieldBtn {
	border: solid 1px #999999;
	background: -webkit-gradient(linear, 0 bottom, 0 0, from(#EEEEEE),
		to(#FFFFFF));
}

.fieldBtn:hover {
	border: solid 1px #999999;
	background: -webkit-gradient(linear, 0 bottom, 0 0, from(#DEDEDE),
		to(#EFEFEF));
}

.fieldBtn:active {
	border: solid 1px #999999;
	background: -webkit-gradient(linear, 0 bottom, 0 0, from(#DEDEDE),
		to(#CDCDCD));
}

.fieldBtn-d {
	border: solid 1px #2C79BC;
	background: -webkit-gradient(linear, 0 bottom, 0 0, from(#DFF0FF),
		to(#F5FAFF));
}

.fieldBtn-d:hover {
	border: solid 1px #2C79BC;
	background: -webkit-gradient(linear, 0 bottom, 0 0, from(#ACCDE9),
		to(#DFF0FF));
}

.fieldBtn-d:active {
	border: solid 1px #2C79BC;
	background: -webkit-gradient(linear, 0 bottom, 0 0, from(#ACCDE9),
		to(#83B2DA));
}

.fieldBtn-m {
	border: solid 1px #27A823;
	background: -webkit-gradient(linear, 0 bottom, 0 0, from(#E1FFE0),
		to(#F7FFF7));
}

.fieldBtn-m:hover {
	border: solid 1px #27A823;
	background: -webkit-gradient(linear, 0 bottom, 0 0, from(#A4EAA1),
		to(#E1FFE0));
}

.fieldBtn-m:active {
	border: solid 1px #27A823;
	background: -webkit-gradient(linear, 0 bottom, 0 0, from(#A4EAA1),
		to(#8DD28B));
}

/* .fieldBtn-f {
	border: solid 1px #D25057;
	background: -webkit-gradient(linear, 0 bottom, 0 0, from(#FFDFE1),
		to(#FFF7F7));
}

.fieldBtn-f:hover {
	border: solid 1px #D25057;
	background: -webkit-gradient(linear, 0 bottom, 0 0, from(#F1B3B7),
		to(#FFE9E9));
}

.fieldBtn-f:active {
	border: solid 1px #D25057;
	background: -webkit-gradient(linear, 0 bottom, 0 0, from(#F1B3B7),
		to(#F0A6AB));
} */
.fieldBtn-f {
	border: solid 1px #CBAB37;
	background: -webkit-gradient(linear, 0 bottom, 0 0, from(#FFF6D3),
		to(#FFFDF3));
}

.fieldBtn-f:hover {
	border: solid 1px #CBAB37;
	background: -webkit-gradient(linear, 0 bottom, 0 0, from(#FCE68C),
		to(#FFF6D2));
}

.fieldBtn-f:active {
	border: solid 1px #CBAB37;
	background: -webkit-gradient(linear, 0 bottom, 0 0, from(#FCE68C),
		to(#E3CB6C));
}

.x-grid-cell-inner-right {
	text-align: right !important;
}

.x-grid-cell-inner-left {
	text-align: left !important;
}

.x-grid-cell-inner-center {
	text-align: center !important;
}

.elementBtn {
	width: 96%;
	margin: 5px 2% 1px 2%;
	padding: 5px 2px 5px 2px;
}

.chartTypeBtn {
	height: 26px;
	padding: 4px 3px 4px 0px;
}

.analysisIndicatorBtn {
	padding: 0px 5px;
}

.x-btn-default-toolbar-medium-icon-text-left .x-btn-inner {
	line-height: 15px;
	padding-left: 28px;
}

.x-btn-default-toolbar-medium-icon-text-left .x-btn-button {
	height: 15px;
}

.x-btn-default-toolbar-small {
	padding: 1px;
	background-color: transparent;
}

legend {
	margin-bottom: 0px;
}

.about_logo {
	float: left;
}

.about_logo img {
	width: 39px;
	margin: 1px 15px 0px 1px;
}

.about_desc {
	margin: 5px;
	height: 50px;
}

.about_foot {
	margin: 5px 0px 20px 10px;
}

.about_foot a {
	color: #4f7bab;
	text-decoration: none;
	outline: none;
}

.about_foot a:hover {
	color: #297FCF;
}

.login_foot a {
	color: #4f7bab;
	text-decoration: none;
	outline: none;
}

.login_foot a:hover {
	color: #297FCF;
}

.val_error_label {
	display: none;
	color: #F78181;
}

.user_space_menu {
	margin: 0px 10px;
}

.user_space_menu_sel {
	margin: 0px 10px;
	font-weight: bold;
}

.index-container #user_space {
	padding-top: 30px;
}

#user_space a {
	font-weight: normal;
}

#user_info {
	margin: 10px;
}

.user_space_note {
	color: #AAA;
}

.user_space_reports {
	line-height: 10px;
}

.x-toolbar {
	font-size: 11px;
	border-style: solid;
	padding: 2px 2px 2px 2px;
}

.index-container>header {
	color: #fff;
	font-family: 'Lato', Arial, sans-serif;
}

.index-container>header {
	margin: 0 auto;
	padding-top: 61px;
	padding-left: 20px;
	background: rgba(0, 0, 0, 0.05);
}

.index-container>header a {
	color: #566473;
	text-decoration: none;
	outline: none;
}

.index-container>header a:hover {
	color: #4f7bab;
}

.index-container>header h1 {
	font-size: 19px;
	line-height: 24px;
	margin: 0;
	font-weight: 300;
}

.index-container>header span {
	display: block;
	font-size: 55%;
	color: #74818e;
	padding: 0 0 5px 1px;
}

.index-container #appContainer {
	height: 100vh;
}

.navbar-header {
	border-right: 1px solid #c6d0da;
}

.navbar-header img {
	width: 26px;
}

.navbar-nav>li {
	border-right: 1px solid #c6d0da;
}

.navbar-right>li {
	/*border-left: 1px solid #c6d0da;*/
	
}

.index-container #release_note_div {
	padding-top: 30px;
}