<div class="modal fade" id="txtmodal" style="z-index: 1000000">
	<div class="modal-dialog" id="txtmodaldialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h6 class="modal-title" id="txtmodaltitle"></h6>
			</div>
			<div class="modal-body">
				<h5 id="txtmodalbody"></h5>
				<div id="txtmodalhtmlbody"></div>
			</div>
		</div>
	</div>
</div>

$[if(currPage== 'editor'){]
<div class="modal fade" id="saveAnotherModal" style="z-index: 1000000">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h6 class="modal-title">&nbsp;</h6>
			</div>
			<div class="modal-body">
				<div>
					<p>$[=__('This is not your report.')]</p>
					<p>$[=__('Do you want to save a copy for yourself?')]</p>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">$[=__('No')]</button>
				<button type="button" class="btn btn-primary" onclick="save(true);">$[=__('Yes')]</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="saveConfirmModal" style="z-index: 1000000">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h6 class="modal-title">&nbsp;</h6>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" role="form">
					<p>$[=__('Do you want to save this report?')]</p>
					<div class="form-group">
						<div class="col-sm-offset-0 col-sm-12">
							<input type="text" class="form-control" id="rptTitle"  placeholder="$[=__('Untitled')]" value="$[=title]"/>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">$[=__('No')]</button>
				<button type="button" class="btn btn-primary" onclick="save(false);">$[=__('Yes')]</button>
				<button type="button" class="btn btn-primary" onclick="save(true);">$[=__('Save as a new report')]</button>
			</div>
		</div>
	</div>
</div>
$[}]

<div class="modal fade" id="removeConfirmModal" style="z-index: 1000000">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h6 class="modal-title">&nbsp;</h6>
			</div>
			<div class="modal-body">
				<p>$[=__('Do you want to remove this report?')]</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">$[=__('No')]</button>
				<button type="button" class="btn btn-primary" id="removeConfirmYesBtn" onclick="removeRpt();">$[=__('Yes')]</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="ieversion" style="z-index: 1000000">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h5 class="modal-title">$[=__('Browser Support')]</h5>
			</div>
			<div class="modal-body">
				<h4>$[=__('You are using an old version browser.')]</h4>
				<span>$[=__('This site has been developed and optimized for the following browsers:')]<br /></span> 
				<span><a href="http://www.google.com/intl/en-US/chrome/browser/" target="_blank">Google Chrome 3+</a><br /></span>
				<span><a href="http://www.mozilla.com/en-US/firefox/" target="_blank">Mozilla Firefox 4+</a><br /></span> 
				<span><a href="http://www.microsoft.com/en-us/download/internet-explorer.aspx" target="_blank">Internet Explorer 9+</a><br /></span> 
				<span><a href="http://www.apple.com/safari/download/" target="_blank">Apple Safari 4+</a><br /></span> 
				<span>$[=__('If you are using an older version or different browser that is having difficulty rendering this site, download and install the latest version of your browser using the link above.')]</span>
				<p></p>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="loginModal" style="z-index: 1000000">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">$[=__('Login')]</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<div class="col-sm-offset-1 col-sm-10">
							<label id="emailLabel" for="inputEmail" class="val_error_label"></label> <input type="email"
								class="form-control" id="inputEmail" placeholder="$[=__('Email')]" />
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-1 col-sm-10">
							<label id="passwordLabel" for="inputPassword" class="val_error_label"></label> <input
								type="password" class="form-control" id="inputPassword" placeholder="$[=__('Password')]" />
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-1 col-sm-10">
							<div class="login_foot">
								<label> <a href="#" onclick="signuppop();">$[=__('Sign up')]</a>
								</label>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" onclick="login();">$[=__('Login')]</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="signupModal" style="z-index: 1000000">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">$[=__('Sign up')]</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<div class="col-sm-offset-1 col-sm-10">
							<label id="emailLabel2" for="inputEmail2" class="val_error_label"></label> <input
								type="email" class="form-control" id="inputEmail2" placeholder="$[=__('Email')]" />
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-1 col-sm-10">
							<label id="usernameLabel" for="inputUsername2" class="val_error_label"></label> <input
								type="text" class="form-control" id="inputUsername2" placeholder="$[=__('Username')]" />
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-1 col-sm-10">
							<label id="passwordLabel2" for="inputPassword2" class="val_error_label"></label> <input
								type="password" class="form-control" id="inputPassword2" placeholder="$[=__('Password')]" />
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-1 col-sm-10">
							<label id="confirmLabel" for="inputConfirmPassword2" class="val_error_label"></label> <input
								type="password" class="form-control" id="inputConfirmPassword2"
								placeholder="$[=__('Confirm Password')]" />
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-1 col-sm-10">
							<div class="login_foot">
								<label> <a href="#" onclick="loginpop();">$[=__('Login')]</a>
								</label>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" onclick="createAccount();" class="btn btn-primary">$[=__('Create Account')]</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="aboutModal" style="z-index: 1000000">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h5 class="modal-title">$[=__('About Datanium')]</h5>
			</div>
			<div class="modal-body">

				<div class="about_desc">
					<div class="about_logo">
						<img src="$[=host]/img/favicon32.ico"></img>
					</div>
					<div>
						<h5>Datanium - $[=__('Version')] 0.1.541</h5>
						<h5>$[=__('A platform that helps you to find, present, share and play with data.')]</h5>
					</div>
				</div>
				<div class="about_foot">
					$[=__('Fork us on')] <a href="https://github.com/datanium/datanium">Github</a> $[=__('or contact us directly')] - <a
						href="mailto:admin@dtnium.com">dtnium@gmail.com</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="feedbackModal" style="z-index: 1000000">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">$[=__('Feedback')]</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<div class="col-sm-12">
							<textarea class="form-control" id="feedbackContent" rows="5"></textarea>
						</div>
					</div>
					<!-- div class="col-sm-12">
							<div class="login_foot">
								<label> <a href="#">Survey</a>
								</label>
							</div>
						</div -->
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" onclick="sendFeedback();">$[=__('Send')]</button>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	var host = '$[=host]';
	var msg_field_req = '$[=__("This field is required.")]';
	var msg_field_length = '$[=__("Ensure this value has at least 6 characters")]';
	var msg_field_pwd = '$[=__("The two password fields didn\'t match.")]';
	var msg_coming = '$[=__("Coming Soon...")]';
	var msg_save_succ = '$[=__("Save Successful.")]';
	var msg_feedback_succ = '$[=__("We have received your feedback.")]';
	var msg_thankyou = '$[=__("Thank you!")]';
	var msg_indi_by_topic = '$[=__("Indicators by Topic")]';
	var msg_indi_by_country = '$[=__("Indicators by Country")]';
	var msg_processing = '$[=__("Processing...")]';

	var msg_tour_step1_title = '$[=__("Start playing with data from here!")]';
	var msg_tour_step1_content = '$[=__("Try to key in some keywords \'GDP\' in above search box and pick the first result.")]';
	var msg_tour_step2_title = '$[=__("Pick dimensions.")]';
	var msg_tour_step2_content = '$[=__("Please toggle \'Year\' and \'Country\' buttons.")]';
	var msg_tour_step3_title = '$[=__("You got the data already!")]';
	var msg_tour_step3_content = '$[=__("Try to select \'Row/Column Convert\' in the column header menu of 'Year'.")]';
	var msg_tour_step4_title = '$[=__("Let\'s see how the data look like.")]';
	var msg_tour_step4_content = '$[=__("Just click this \'Chart View\' button.")]';
	var msg_tour_step5_title = '$[=__("Now try to focus on certain regions.")]';
	var msg_tour_step5_content = '$[=__("Click \'Filter\' button and select \'Region\'. Then select \'North America\' and \'Asia Pacific\'.")]';
	var msg_tour_step6_title = '$[=__("Wanna try line chart?")]';
	var msg_tour_step6_content = '$[=__("Click this button and select \'Line Chart\'.")]';
	var msg_tour_step7_title = '$[=__("Cool! Now save your first report!")]';
	var msg_tour_step7_content = '$[=__("Click \'Save\' button and get it saved with a unique URL path.")]';
	var msg_tour_next = '$[=__("Next")]';
	var msg_tour_prev = '$[=__("Prev")]';
	var msg_tour_end_tour = '$[=__("End Tour")]';
	var msg_loading = '$[=__("Loading...")]';
	var msg_viewmore_rpt = '$[=__("View more")]';
	var msg_nomore_rpt = '$[=__("No more")]';
</script>