<!-- Footer -->
<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-6 footer-left">
				<ul class="list-inline">
					<li><a href="/">$[=__('Home')]</a></li>
					<li><a href="/r">$[=__('Editor')]</a></li>
					<li><a href="/release_notes">$[=__('Release Notes')]</a></li>
					<li><a href="#">$[=__('Help')]</a></li>
					<li><a href="#">$[=__('Contact')]</a></li>
				</ul>
			</div>
			<div class="col-md-6 footer-right">
				<p></p>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-lg-12 footer-below">
				<p>
					©&nbsp;2014 - 2021&nbsp;<a href="http://dtnium.com/">Datanium</a>
				</p>
				<p>
				    <a href="https://beian.miit.gov.cn/">沪ICP备14021913号</a>
				</p>
			</div>
		</div>
	</div>
</footer>