<script>
reports = [];
</script>
$[reports.forEach(function(report){ ]
<div class="dtm-jumbotron thumbnail">
	<div class="thumbleft">
		<a href="/r/$[=report.hashid]" class="post-image-link">
			<div id="rptThumbnail_$[=report.hashid]" class="rptThumbnail"></div>
		</a>
	</div>
	<div class="thumbright">
		<h4>
			<a target="_blank" href="/r/$[=report.hashid]">$[=report.title]</a>
		</h4>
		<!-- p>$[=report.description]</p -->
		<span>$[=__('Created by')] $[=report.user_name]&nbsp; $[=__('on')] $[=:
			report.creation_date | dateformat:'YYYY-MM-DD HH:mm:ss']</span>
		<p></p>
		<div class="user_space_reports">
			$[if (report.qubeInfo != null && report.qubeInfo.measures != null) {]
			$[report.qubeInfo.measures.forEach(function(mea){ ]
			<button type="button" class="btn btn-default">
				<span class="fa fa-bar-chart-o"></span> $[=mea.text]
			</button>
			$[ }); ] $[}]
		</div>
		<p></p>
		<div class="text-right">
			<a class="btn btn-primary" href="$[=host]/r/$[=report.hashid]" role="button" rel="tooltip"
				title="$[=__('Preview & Edit')]"> <span class="glyphicon glyphicon-search"></span>
			</a>
		</div>
	</div>
</div>
<script>
$[if(report.enableQuery){]
	$[report.creation_date = null]
	$[report.modification_date = null]
	reports.push('$[=report.hashid]');
$[}]
</script>
$[ }); ]
<script>
$[if(reports.length>0){]
	renderRpt();
$[} else{]
	$('#viewmoreRptBtn').text(msg_nomore_rpt);
	$('#viewmoreRptBtn').attr('onclick','').unbind('click');
$[}]
</script>
