<html>
<head>
$[if(hasHashKey){]
<title>$[=title] - Datanium - $[=__('Play with Data')]</title>
$[} else{]
<title>$[=__('New Report')] - Datanium - $[=__('Play with Data')]</title>
$[}]
$[ include header ] 
$[ include header-app ]
$[ include header-nav ]
</head>
<body>
	<div class="index-container">
		$[ include navbar ]
		<header>
			$[if(hasHashKey){]
				<h1>
					$[=title] 
					<span>
						$[=__('Created by')] $[=user_name] $[=__('on')] $[=: creation_date | dateformat:'YYYY-MM-DD']
					</span>
				</h1>
			$[} else{]
				<h1>
					$[=__('Datanium Prototype')] 
					<span>
						$[=__('An online public data analysis tool as seen on the')]
						<a href="https://github.com/datanium/datanium">Github</a> 
						$[=__('page')] 
					</span>
				</h1>
			$[}]
		</header>
		<div id="appContainer"></div>
	</div>
	<script>
		$(document).ready(function() {
			adjustScreenHeight();
		});

		function adjustScreenHeight() {
			var heightOffset = 114;
			var appCon = document.getElementById('appContainer');
			appCon.style.height = (window.innerHeight - heightOffset) + 'px';
			window.onresize = function() {
				appCon.style.height = (window.innerHeight - heightOffset) + 'px';
			}
		}
	</script>
$[ include common ]
	<script type="text/javascript">
		var loginUserEmail = null;
		var loginUsername = null;
		$[if(userEmail!=null){]
			loginUserEmail = '$[=userEmail]';
			loginUsername = '$[=username]';
		$[}]
		$[if(hasHashKey){]
			console.log('rptid:$[=hashid]');
			Datanium.GlobalData.hashid = '$[=hashid]';
			Datanium.GlobalData.qubeInfo = $[-qubeInfo];
			Datanium.GlobalData.queryParam = $[-queryParam];
			Datanium.GlobalData.rptMode = '$[=rptMode]';
			Datanium.GlobalData.chartMode = '$[=chartMode]';
			Datanium.GlobalData.autoScale = $[-autoScale];
			Datanium.GlobalData.showLegend = $[-showLegend];
			Datanium.GlobalData.title = '$[=title]';
			Datanium.GlobalData.description = '$[=description]';
		$[}]
		$[if(initIndicator!=null && initIndicator.length>0){]
			Datanium.GlobalData.initIndicator = '$[=initIndicator]';
		$[}]
	</script>
$[ include foot-app ]
$[ include foot-google ]
</body>
</html>