include ../public/header.html
include ./head.jade
include ../public/space.html
include ../public/foot.html
script(type='text/javascript').
	var loginUserEmail = '#{userEmail}';
	var loginUsername = '#{username}';